@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Public+Sans&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive; 
}

i {
    padding-top: 20px;
}

h2 {
    padding-top: 14px;
}

i, h2{
    color: #327ab7;
}
.jumbotron {
    background-image: url(../images/amb2.jpg);
    background-size: cover;
    height: 80vh;
    color: white;
}

.image {
    background-image: url(../images/amb1.jpg);
    background-size: cover;
    height: 60vh;
}

.lists {
    padding: 60px;
    font-size: large;
    font-weight: bold;
}

li {
    padding: 20px;
}

p {
    padding-top: 60px;
    font-weight: bold;
    font-size: large;

}

.skeleton {
    height: 400px;
}

.heart {
    padding-top: 120px;
}

.heart, .skeleton, .image {
    border-radius: 5%;
}